
<div>
    <h1>Signup</h1>
  
    <form>
      <label for="userName">User Name:</label>
      <input type="text" id="userName" name="userName" [(ngModel)]="userName">
  
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="email">
  
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password">
  
      <label for="contact">Contact:</label>
      <input type="text" id="contact" name="contact" [(ngModel)]="contact">
  
      <button type="button" (click)="signup()">Signup</button>
    </form>
  </div>