<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<app-topbar *ngIf="isLoggedIn"></app-topbar>

<ng-container *ngIf="isLoggedIn">
  <div class="wrapper">
    <div class="main">
      <main class="content">
        <div class="container-fluid p-0">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </div>
</ng-container>

<app-login (loggedIn)="isLoggedIn = true;" *ngIf="!isLoggedIn"></app-login>