<div class="how-section1 bg-white">
    <div class="row">
        <div class="col-lg-8">
            <img src="assets/img/new/homepage2.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-4">
            <h4>THE LOGITICIANS</h4>
            <h4 class="subheading">Warehouse Management Company</h4>
            <p class="text-muted">The Logiticians is a professional logistics company that specializes in providing
                warehouse management services. Based on the needs of their clients, they offer various solutions that
                are designed to streamline the storage, handling, and distribution of goods, enabling their customers to
                focus on their core business operations.<br><br>
                 The Logiticians boast a team of experienced professionals who
                are knowledgeable in all aspects of logistics and supply chain management. They are committed to
                delivering first-class customer service to their clients, ensuring that they receive the highest level
                of care and attention at all times. <br><br>
                The Logiticians use advanced logistics software and cutting-edge
                technological solutions to optimize their operations, resulting in cost savings and improved
                efficiencies for their clients. Whether it's inbound and outbound logistics, inventory management, or
                order fulfillment, The Logiticians have the expertise and capabilities to meet any logistical challenge.
            </p>
        </div>
    </div>
</div>